<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRAR</title>
</head>
<body>
    <form action="{% url 'addAlumno' %}" method = "get">
        <center><label>Nombres: </label></center>
        <center><input type="text" name = "name"></center>
        <hr>
        <center><label>Apellidos: </label></center>
        <center><input type="text" name = "last_name"></center>
        <hr>
        <center><label>Numero de control: </label></center>
        <center><input type="text" name = "n_reticulate"></center>
        <hr>
        <center><label>Semestre: </label></center>
        <center><input type="text" name = "semester"></center>
        <hr>
        <center><label>Carrera: </label></center>
        <center><input type="text" name = "career"></center>
        <hr>
        <center><label>RFID: </label></center>
        <center><input type="text" name = "RFID"></center>
        <hr>
        <center><button type="submit">REGISTRAR</button></center>
    </form>
</body>
</html>